.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
.w25{
    width: 25%;
}

// flex layout
.d-flex{
    display: flex;
}
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// position
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}

// border
.borRadius-5{
    border-radius: 5px;
}

.borRadius-11{
    border-radius: 11px;
}

// space
.pl-25{
    padding-left: 25px;
}
.pr-25{
    padding-right: 25px;
}

.ml-11{
    margin-left: 11px;
}
.ml-25{
    margin-left: 25px;
}
.ml-33{
    margin-left: 33px;
}
.mr-25{
    margin-right: 25px;
}
.mb-11{
    margin-bottom: 11px;
}
.mb-22{
    margin-bottom:22px;
}
.mb-33{
    margin-bottom: 33px;
}
.mb-75{
    margin-bottom: 75px;
}
