<form class="form w100" (ngSubmit)="next(basicForm)" #basicForm="ngForm">
  <div class="form__title d-flex">
    <span class="form__title--No">Step.1</span>
    <span class="form__title--text ml-11">填寫聯絡人資訊</span>
  </div>
  <div class="form__content">
    <div class="form__main">
      <div class="form__fill w50 mb-22 pr-25">
        <label class="mb-11">姓名
          <span *ngIf="isValid">
            <span *ngIf="name.errors && name.errors.required">姓名欄位不得留空</span>
          </span>
        </label>
        <input type="text" required name="name" [(ngModel)]="basic.name" #name="ngModel">
      </div>
      <div class="form__fill w50 mb-22 pl-25">
        <label class="mb-11">行動電話
          <span *ngIf="isValid">
            <span *ngIf="phone.errors && phone.errors.required">電話欄位不得留空</span>
            <span *ngIf="phone.errors && phone.errors.minlength">請確認號碼</span>
            <span *ngIf="phone.errors && phone.errors.maxlength">請確認號碼</span>
          </span>
        </label>
        <input type="text" minlength="9" maxlength="9" required name="phone" [(ngModel)]="basic.phone" #phone="ngModel">
      </div>
      <div class="form__fill w50 mb-22 pr-25">
        <label class="mb-11">電子郵件
          <span *ngIf="isValid">
            <span *ngIf="email.errors && email.errors.required">email 不得留空</span>
            <span *ngIf="email.errors && email.errors.email">email 必須是有效的電子郵件地址</span>
          </span>
        </label>
        <input type="email" name="email" required email [(ngModel)]="basic.email" #email="ngModel">
      </div>
      <div class="form__fill w50 mb-22 pl-25">
        <label class="mb-11">活動日期
          <span *ngIf="isValid">
            <span *ngIf="date.errors && date.errors.required">日期欄位不得留空</span>
          </span>
        </label>
        <input type="date" name="date" required [(ngModel)]="basic.date" #date="ngModel">
      </div>
      <div class="form__fill w50 mb-22 pr-25">
        <label class="mb-11">參加人數
          <span *ngIf="isValid">
            <span *ngIf="validAttend">未填人數欄位</span>
          </span>
        </label>
        <div class="form__count">
          <div class="count">
            <span>成人</span>
            <div>
              <button type="button" (click)="decrease('audit', $event)">-</button>
              <input readonly type="text" name="audit" [(ngModel)]="basic.audit">
              <button type="button" (click)="increase('audit', $event)">+</button>
            </div>
          </div>
          <div class="count">
            <span>小孩</span>
            <div>
              <button type="button" (click)="decrease('child', $event)">-</button>
              <input readonly type="text" name="child" [(ngModel)]="basic.child">
              <button type="button" (click)="increase('child', $event)">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form__fill w50 mb-22 pl-25">
        <label class="mb-11">優惠代碼</label>
        <input type="text" name="code" [(ngModel)]="basic.code">
      </div>
    </div>
    <div class="form__remark mb-22">
      <label class="mb-11">備註</label>
      <textarea [(ngModel)]="basic.remark" name="remark"></textarea>
    </div>
  </div>
  <div class="form__footer">
    <div class="form__checkRead mb-22">
      <label class="d-flex">
        <span class="form__checkRead--checkbox"><i class="fas fa-check" *ngIf="basic.read"></i></span>
        <input type="checkbox" name="read" required [(ngModel)]="basic.read" #read="ngModel">
        <p class="form__checkRead--text">我已閱讀並同意<a class="form__checkRead--link">票券訂購暨使用須知</a>內容所有條款</p>
      </label>
      <span *ngIf="isValid">
        <span *ngIf="read.errors && read.errors.required">請勾選進入下一步</span>
      </span>
    </div>
    <div class="form__btnGroup d-flex w100">
      <span class="form__btnGroup--space"></span>
      <button class="form__button form__button--cancel">取消</button>
      <button class="form__button form__button--next ml-33" type="submit">下一步</button>
    </div>
  </div>
</form>